MONGODB_DB = "sindhudb"
MONGODB_HOST = "localhost"
SECRET_KEY = 'sindhu-secret-key' # change it when deploy web

CACHE_TYPE = 'SimpleCache'

SINDHU_API_BASE_URL = 'http://localhost:8000'
APP_ENV="dev"
MONGODB_URI="mongodb://localhost:27017/sindhudb"
REDIS_URL="redis://localhost:6379"

PYTHONUNBUFFERED=True