.vscode/
__pycache__
*.pyc
/.env
/env
/.env.dev
/env.dev
!.env.example
/venv
.ssh_tunnel
.yaml
.yml
.db
.parquet
.json
*.cfg
/mageai/sindhu/pipelines
/mageai/mage_data/sindhu
/mage/metadata.yaml
/mage/sindhu/pipelines
/mage/mage_data/sindhu
/mage_data
/mageai/sindhu/
/sindhu/credentials
/sindhu/web/static/resources/maps
/sindhu/web/static/forecast_models
/sindhu/web/static/node_modules
/sindhu/web/static/brython_modules
auto_test.sh
*.css
sindhu/web/static/brython/*.js
