<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  {# <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico"> #}

  <!-- jQuery -->
  <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>

  <link rel="stylesheet" href="{{ 'css/app.css' | static_url }}">
  <script src="{{ 'node_modules/jquery/dist/jquery.min.js' | static_url }}"></script>
  <script type="module" src="{{ 'node_modules/cally/dist/cally.js' | static_url }}"></script>
  <script src="{{ 'node_modules/htmx.org/dist/htmx.min.js' | static_url }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/forms/multiple_select.js') }}"></script> -->
  <!-- <script src="{{ 'js/forms/date_picker.js' | static_url }}"></script> -->

  <!-- Icons -->
  <link rel="stylesheet" type="text/css"
    href="{{ 'node_modules/@phosphor-icons/web/src/regular/style.css' | static_url }}">
    
  <link rel="stylesheet" type="text/css"
    href="{{ 'node_modules/@phosphor-icons/web/src/fill/style.css' | static_url }}">

  {% block default_head %}{% endblock %}
  {% include "base/google_analytic.html" %}
  {% block additional_head %}{% endblock %}
  
  <title>{% block title %}{% endblock %} | {{ config.get('APP_TITLE') }}</title>
</head>

<body>
  {% block body %}
  {% endblock %}
</body>
{% block additional_js %}{% endblock %}

</html>