<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/fomantic-ui-css/semantic.min.css') }}">
  <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/fomantic-ui-css/semantic.min.js') }}"></script>
  {% block default_head %}{% endblock %}
  {% include "base/google_analytic.html" %}
  {% block additional_head %}{% endblock %}
  <title>{% block title %}{% endblock %} | {{ config.get('APP_TITLE') }}</title>
</head>

<body style="background-color: #f1f6f9;">
  {% block body %}
  {% endblock %}
</body>
<script>
  $('.ui.dropdown')
    .dropdown();
  $(document)
    .ready(function () {
      $('.left.sidebar.menu')
        .sidebar('attach events', '.launch.icon.item', 'show')
        ;
    })
    ;
</script>

<style type="text/css">
  #link:hover {
    text-decoration: underline;
  }
</style>
{% block additional_js %}{% endblock %}

</html>