{% extends '/base/base_layout.html' %}

{% block body %}
<div class="ui vertical inverted sidebar large menu left">
  {% include "base/sidebar.html" %}
</div>
<div class="ui fixed main menu">
  <a class="launch icon item">
    <i class="content icon"></i>
  </a>
  <div class="item">
    <a id="link" href="" style="color: black;">
      {{ config['APP_TITLE'] }}
    </a>
  </div>
  <div class="right menu">
    {#<div class="item">
      <a href="{{ url_for('sites.change_lang', lang_code=g.lang_code) }}">
        {% if g.lang_code == 'en' %}
        <i class="gb uk flag"></i>{{g.lang_code}}
        {% else %}
        <i class="th flag"></i>{{g.lang_code}}
        {% endif %}
      </a>
    </div>#}
    {% if current_user.is_authenticated %}
    <div class="ui dropdown item right">
      <i class="user icon"></i>
      {{ current_user.first_name }}
      {{ current_user.last_name }}
      <i class="dropdown icon"></i>
      <div class="menu">

        <div class="divider"></div>
        <a href="{{ url_for('accounts.logout') }}">
          <div class="item">
            <span class="ui red text">
              <i class="power off icon"></i>
              Logout
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
  {% else %}
  <div class="ui item right">
    <a class="ui icon top right pointing small" href="{{url_for('accounts.login')}}">
      <i class="sign in alternate icon"></i>
      <span class="text">Login</span>
    </a>
  </div>
  {% endif %}
</div>
</div>

<style>
  .main.container {
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
</style>

<div class="pusher" style="min-height: 100% !important;background-color:rgba(242,245,245,0.8);">
  <main class="main container">
    {% block content %}{% endblock content %}
  </main>
</div>

<footer>
  <div class="ui vertical inverted segment">
    <div class="ui container">
      <div class="ui two column stackable grid">
        <div class="ten wide column">
          <h4 class="ui inverted header">
            Sponsored by
          </h4>
          <div style="display: flex;justify-content: space-evenly;flex-direction: row;align-items: center; gap: 24px; padding: 30px 0px;">
            <a href="https://www.pmu-hr.or.th" target="_blank">
              <img src="{{ url_for('static', filename='images/pmu_b.png') }}">
            </a>
            <a href="https://www.pmu-hr.or.th" target="_blank">
              <img src="{{ url_for('static', filename='images/TSRI-logo.png') }}">
            </a>
            <a href="http://www.coe.psu.ac.th" target="_blank">
              <img src="{{ url_for('static', filename='images/MHESI-logo.png') }}">
            </a>
            <a href="http://www.coe.psu.ac.th" target="_blank">
              <img src="{{ url_for('static', filename='images/psu-logo.png') }}">
            </a>
            <a href="http://www.coe.psu.ac.th" target="_blank">
              <img src="{{ url_for('static', filename='images/rc-logo.png') }}">
            </a>
          </div>
        </div>
        <div class="six wide column">
          <h4 class="ui inverted header">
            {#{{ _('Other') }}#}
          </h4>
          <div style="display: flex;justify-content: space-evenly;flex-direction: row;align-items: center;">
            <!-- logos -->
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  $(' .ui.dropdown')
    .dropdown({
    })
    ;
  var dropdown = document.getElementsByClassName("ui item secondary");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
  if (screen.width <= 699) {
    document.getElementById("content-desktop");
  }
</script>
{% endblock %}