{% extends "/base/base_layout_new.html" %}

{% block body %}
<!-- Sidebar -->
<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />

  <div class="drawer-content flex flex-col">
   
  <!-- Navbar -->
  <div class="fixed top-0 left-0 w-full bg-[#F5F7FB] shadow-md z-50">
    <div class="mx-auto max-w-[1650px] px-4 sm:px-6 lg:px-8 py-4">

      <!-- TOP ROW -->
      <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">

        <!-- Left: Logo + Title -->
        <div class="flex items-center gap-4">
          <div class="flex items-center justify-center w-11 h-11 rounded-xl bg-gradient-to-br from-blue-400 to-cyan-500">
            <i class="ph ph-cloud text-white text-xl"></i>
          </div>

          <div class="flex flex-col">
            <span class="text-xl font-semibold text-gray-700">
            Airthai
            </span>
            <span class="text-sm text-gray-500">
            ทุก 1 ชั่วโมง
            </span>
          </div>
        </div>

        <!-- Right: Actions -->
        <div class="flex items-center gap-2 sm:gap-3 flex-wrap">
          <!-- Language -->
          {# <div class="bg-white rounded-full border border-slate-200 px-3 py-1">
            <label class="swap text-sm">
              <input type="checkbox" />
              <span class="swap-on flex items-center gap-1">
                <i class="ph ph-translate"></i> EN
              </span>
              <span class="swap-off flex items-center gap-1">
                <i class="ph ph-translate"></i> ไทย
              </span>
            </label>
          </div> #}

          <!-- Expert mode -->
          <a
            class="btn btn-soft flex items-center gap-2 px-3 sm:px-4 py-2 text-sm rounded-full border border-slate-200 bg-white hover:bg-gray-50 transition"
            href="{{ url_for('sites.home_page') }}"
            >
            <i class="ph ph-gear text-lg"></i>
            <span class="hidden sm:inline">โหมดผู้เชี่ยวชาญ</span>
          </a>
        </div>
      </div>

      <!-- Divider -->
      <div class="my-4 border-t border-gray-200"></div>

      <!-- BOTTOM ROW -->
      <div class="flex flex-col sm:flex-row sm:items-center gap-3">

        <!-- <span class="text-sm text-gray-500 shrink-0 hidden sm:inline">
          ร่วมมือกับ:
        </span> -->

        <!-- Partners -->
        <!-- <div class="flex gap-3 overflow-x-auto sm:overflow-visible pb-2 sm:pb-0"> -->
        <div class="flex flex-wrap gap-3 overflow-x-auto ">

          <!-- Item -->
          <div class="flex items-center gap-2 px-3 py-2 bg-white border border-slate-200 rounded-xl whitespace-nowrap">
            <div class="flex items-center">
              <a href="https://www.pmu-hr.or.th" target="_blank">
                <img 
                class="sm:h-12 h-6 w-auto"
                src="{{ url_for('static', filename='images/pmu_b.png') }}">
              </a>
            </div>
          </div>

          <div class="flex items-center gap-2 px-3 py-2 bg-white border border-slate-200 rounded-xl whitespace-nowrap">
            <div class="flex items-center">
              <a href="https://www.tsri.or.th/" target="_blank">
                <img 
                class="sm:h-12 h-6 w-auto"
                src="{{ url_for('static', filename='images/TSRI-logo.png') }}">
            </a>
            </div>
          </div>

          <div class="flex items-center gap-2 px-3 py-2 bg-white border border-slate-200 rounded-xl whitespace-nowrap">
            <div class="flex items-center">
              <a href="https://www.mhesi.go.th/" target="_blank">
                <img
                  class="sm:h-12 h-6 w-auto" 
                  src="{{ url_for('static', filename='images/MHESI-logo.png') }}">
              </a>
            </div>
          </div>

          <div class="flex items-center gap-2 px-3 py-2 bg-white border border-slate-200 rounded-xl whitespace-nowrap">
            <div class="flex items-center">
              <a href="https://www.psu.ac.th/" target="_blank">
                <img 
                  class="sm:h-12 h-6 w-auto"
                  src="{{ url_for('static', filename='images/psu-logo.png') }}">
              </a>
            </div>
          </div>

          <div class="flex items-center gap-2 px-3 py-2 bg-white border border-slate-200 rounded-xl whitespace-nowrap">
            <div class="flex items-center">
              <a href="https://airthai.in.th/th/" target="_blank">
                <img 
                  class="sm:h-12 h-6 w-auto"
                  src="{{ url_for('static', filename='images/rc-logo.png') }}">
              </a>
            </div>
          </div>





        </div>
      </div>

    </div>
  </div>

    





    <div class="flex-1 flex flex-col bg-white">
      <div class="px-4 py-2 shadow-xs">
        <h1 class="text-2xl font-bold">
          {% block header_title %}
          {% endblock header_title %}
        </h1>
        <nav class="text-sm text-gray-400">
          {% block header_breadcrumb %}
          {% endblock header_breadcrumb %}
        </nav>
      </div>
      
      <div class="flex-1 p-4 bg-cyan-50">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  
  </div>
    {# {% include "base/sidebar_new.html" %} #}
</div>
{% endblock body %}