<meta charset="utf-8">
<title>{% block title %}{{ config.get('APP_TITLE') }}{% endblock %}</title>
<script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/fomantic-ui-css/semantic.min.css') }}">
<script src="{{ url_for('static', filename='node_modules/fomantic-ui-css/semantic.min.js') }}"></script>

<!-- 
<script src="{{ url_for('static', filename='brython_modules/brython.js') | add_date_url }}"></script>
<script src="{{ url_for('static', filename='brython_modules/brython_stdlib.js') | add_date_url }}"></script> -->


<script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}" />
<script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/leaflet.smoothwheelzoom.js')}}"></script>
<script src="{{ url_for('static', filename='js/L.Icon.Pulse.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/leaflet-rotatedmarker/leaflet.rotatedMarker.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/L.Icon.Pulse.css') }}" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />