<style>
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
</style>

<div class="ui">
  <div class="header item">
    <span style="font-size: 24px">{{ config['APP_TITLE'] }}</span>
  </div>
  <a href="{{ url_for('sites.index') }}" class="item">
    <i class="home icon"></i> Home page
  </a>
  {% if current_user.is_authenticated %}
  <a href="{{url_for('stations.index')}}" class="item">
    <i class="broadcast tower icon" style="visibility: visible;"></i>
    Stations
  </a>
  <a href="{{url_for('sites.empirical_forecast')}}" class="item">
    <i class="seedling icon" style="visibility: visible;"></i>
    PM Estimation Models
  </a>
  <a href="{{url_for('sites.fire_hotspots')}}" class="item">
    <i class="fire icon" style="visibility: visible;"></i>
    Fire Hotspots
  </a>
  <a href="{{url_for('sites.fire_reports')}}" class="item">
    <i class="fire alternate icon" style="visibility: visible;"></i>
    Fire Reports
  </a>
  <a href="{{url_for('fire_reports.index')}}" class="item">
    <i class="folder open icon" style="visibility: visible;"></i>
    Upload Fire Reports
  </a>
  <a href="{{url_for('climate_records.stations')}}" class="item">
    <i class="folder open icon" style="visibility: visible;"></i>
    Climate Record
  </a>
  <a href="{{url_for('climate_formulas.index')}}" class="item">
    <i class="superscript icon" style="visibility: visible;"></i>
    Climate Formula
  </a>
  <a href="{{url_for('accounts.management', page=1)}}" class="item">
    <i class="address book icon"></i>
    Users Management
  </a>
  <a href="{{url_for('system_settings.index')}}" class="item">
    <i class="cog icon"></i>
    System Setting
  </a>
  {% endif %}
  {% if current_user.is_authenticated %}
  <a href="{{ url_for('accounts.logout') }}" class="item">
    <i class="power off icon"></i>
    Logout
  </a>
  {% else %}
  <a href="{{ url_for('accounts.login') }}" class="item">
    <i class="sign in alternate icon"></i>
    Login
  </a>
  {% endif %}
</div>