{% extends '/base/default_page.html' %}


{% block title %}
{% if "create" in request.url %}
Create Account
{% else %}
Update Account
{% endif %}
{% endblock title %}

{% block content %}

<div class="ui centered grid">
    <div class="fourteen wide tablet column ten wide computer column">
        <div class="ui segment">
            <div class="ui aligned grid">
                <div class="column">
                    <h2 class="ui dividing header">
                        {% if "station_id" in request.url %}
                        Update Account
                        {% else %}
                        Create Account
                        {% endif %}
                    </h2>

                    <form method="post" class="ui form">
                        {{form.csrf_token}}
                        <div class="field ">
                            <label>{{ form.username.label }}
                                {% if form.username.flags.required %}<span class="ui red text">*</span>{%endif%}
                            </label>
                            {{ form.username }}
                        </div>
                        <div class="field ">
                            <label>{{ form.first_name.label }}
                                {% if form.first_name.flags.required %}<span class="ui red text">*</span>{%endif%}
                            </label>
                            {{ form.first_name }}
                        </div>
                        <div class="field ">
                            <label>{{ form.last_name.label }}
                                {% if form.last_name.flags.required %}<span class="ui red text">*</span>{%endif%}
                            </label>
                            {{ form.last_name }}
                        </div>
                        <div class="field ">
                            <label>{{ form.email.label }}
                                {% if form.email.flags.required %}<span class="ui red text">*</span>{%endif%}
                            </label>
                            {{ form.email }}
                        </div>
                        <div class="field ">
                            <label>{{ form.password.label }}
                                {% if form.password.flags.required %}<span class="ui red text">*</span>{%endif%}
                            </label>
                            {{ form.password(id="show_pass_checkbox") }}
                        </div>
                        <div class="field ">
                            <label>{{ form.confirm_password.label }}
                                {% if form.confirm_password.flags.required %}<span class="ui red text">*</span>{%endif%}
                            </label>
                            {{ form.confirm_password(id="show_conf_pass_checkbox") }}
                        </div>
                        <div class="field ">
                            <div class="ui checked checkbox">
                                <input type="checkbox" onclick="show_hide_password()">
                                <label>Show password</label>
                            </div>
                        </div>
                        <div style="padding-top: 1rem; padding-bottom: 1rem;">
                            <button class="ui teal button" type="submit">
                                Confirm
                            </button>
                            <a href="#" onclick="javascript:window.history.back(-1);return false;">
                                <div class="ui deny button">
                                    Cancel
                                </div>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block additional_js %}
<script>
function show_hide_password() {
  var x = document.getElementById("show_pass_checkbox");
  var y = document.getElementById("show_conf_pass_checkbox");
  if (x.type === "password") {
    x.type = "text";
    y.type = "text";
  } else {
    x.type = "password";
    y.type = "password";
  }
}
</script>
{% endblock additional_js %}