{% extends '/base/default_page.html' %}
{% block additional_head %}
<script type="text/javascript" src="{{ url_for('static', filename='brython_modules.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='brython_modules_stdlib.js') }}"></script>
{% endblock %}
{% block title %}
{{ _('Manage users') }}
{% endblock title %}
{% block content %}
<style>
  ul {
    list-style-type: none;
  }
</style>

<div class="ui vertical segment">
  <div class="ui container">
    <div class="ui segment">
      <h1>
        {{ _('Manage users') }}
      </h1>
      <div class="ui divider">
      </div>
      <div>
        <a class="ui primary icon button" href="{{ url_for('accounts.create_update')}}"><i class="add icon"></i>Add
          User</a>
      </div>
      <br>
      <div>
        <form class="ui form" method="get">
          <div class="fields">
            <div class="field">
              {{ form.username.label }}
              {{ form.username }}
            </div>
            <div class="field">
              {{ form.email.label }}
              {{ form.email }}
            </div>
            <div class="field" style="display: flex; align-items: flex-end;">
              <button class="ui primary button" type="submit" style="margin-bottom: 2px;">Search</button>
              <a class="ui grey button" href="{{ url_for('accounts.management')}}" style="margin-bottom: 2px;">Clear</a>
            </div>
          </div>
        </form>
        <table id="mytable" class="ui celled table">
          <thead>
            <tr>
              <th>{{ _('Username') }}</th>
              <th>{{ _('First name-Last name') }}</th>
              <th>{{ _('Email') }}</th>
              <th>{{ _('Role') }}</th>
              <th>{{ _('Add role') }}</th>
              <th>{{ _('Delete') }}</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td style="text-align: left;">
                {{ user.username }}
              </td>
              <td>
                <div class="left floated left aligned two wide column">
                  <a class="right aligned content" id="namelist" style="color: black;">
                    {{ user.first_name }} {{ user.last_name }}
                  </a>
                </div>
              </td>
              <td>
                {{ user.email }}
              </td>
              <td>
                <div class="left floated right aligned four wide column">
                  {% if "admin" in user.roles %}
                  <div class="ui blue basic label">
                    {{ _('Admin') }}
                    {% if user.id != current_user.id %}
                    <a href="{{ url_for('accounts.grant_role', user_id=user.id, role='admin', page=page) }}"><i
                        class="close icon"></i></a>
                    {% endif %}
                  </div>
                  {% endif %}
                  {% if "researcher" in user.roles %}
                  <div class="ui teal basic label">
                    {{ _('Researcher') }}
                    {% if user.id != current_user.id %}
                    <a href="{{ url_for('accounts.grant_role', user_id=user.id, role='researcher', page=page) }}"><i
                        class="close icon"></i></a>
                    {% endif %}
                  </div>
                  {% endif %}
                </div>
              </td>
              <td>
                <div class="left floated aligned nine wide column">
                  <div class="ui selection dropdown">
                    <input type="hidden" name="gender">
                    <i class="dropdown icon"></i>
                    <div class="default text">{{ _('Add role') }}</div>
                    <div class="menu">
                      {% if "admin" not in user.roles %}
                      <a class="item"
                        href="{{ url_for('accounts.grant_role', user_id=user.id, role='admin', page=page) }}">{{ _('Add admin') }}</a>
                      {% endif %}
                      {% if "researcher" not in user.roles %}
                      <a class="item"
                        href="{{ url_for('accounts.grant_role', user_id=user.id, role='researcher', page=page) }}">{{ _('Add researcher') }}</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </td>
              <td>
                {% if user.id != current_user.id %}
                <a class="ui red icon button" id="delete-modal-{{user.id}}" href="#"><i class="trash icon"></i></a>
                <div class="ui tiny modal" id="delete-{{ user.id }}">
                  <i class="close icon"></i>
                  <div class="header">
                    {{ _('Delete') }}
                  </div>
                  <div class="content">
                    <div class="description">
                      {{ _('Do you want to remove') }}<b> User: {{ user.username }} </b>
                    </div>
                  </div>
                  <div class="actions">
                    <div class="ui red cancel button"><i class="remove icon"></i>{{ _('No') }}</div>
                    <a class="ui green ok button" href="{{ url_for('accounts.delete_user', user_id=user.id)}}">
                      <i class="checkmark icon"></i>{{ _('Yes') }}</a>
                  </div>
                </div>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
        </table>
        {% with redirect=url_for('accounts.management') %}
        {% include "base/pagination.html" %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block additional_js %}
<script>
  {% for user in users %}
  $('#delete-modal-{{ user.id }}').click(function () {
    $('#delete-{{ user.id }}').modal('show');
  });
  {% endfor %}
</script>

{% endblock additional_js %}