{# templates/site_header.html #}
{% macro site_header() %}
<div class="nine wide center aligned column">
	<div class="ui">
		<div class="row">
			<div class="eleven wide column">
				<h2>
					แพลตฟอร์มกลางเพื่อการพยากรณ์
					PM<sub>0.1</sub>, PM<sub>1</sub> และ PM<sub>2.5</sub>
				</h2>
				<p>
					ผลจากการวิจัยโดยศูนย์วิจัยมลพิษทางอากาศและผลกระทบต่อสุขภาพ
					มหาวิทยาลัยสงขลานครินทร์
				</p>
				<p>
					สนับสนุนโดยหน่วยบริหารและจัดการทุนด้านการพัฒนากำลังคนและทุนด้านการพัฒนาสถาบันอุดมศึกษา
					การวิจัยและการสร้างนวัตกรรม (บคพ.)
				</p>
			</div>
		</div>
	</div>
</div>
{% endmacro %}