{% extends '/base/default_page.html' %}


{% block title %}
API Setting
{% endblock title %}

{% block content %}

<div class="ui centered grid">
    <div class="fourteen wide tablet column ten wide computer column">
        <div class="ui segment">
            <div class="ui aligned grid">
                <div class="column">
                    <h2 class="ui dividing header">
                        API Setting
                    </h2>

                    <form method="post" class="ui form">
                        {{form.csrf_token}}
                        {% for field in form if field.widget.input_type != 'hidden'%}
                        {% if field.errors %}
                        <div class="field error">
                            <label>{{ field.label }}
                                {% if field.flags.required %}<span class="ui red text">*</span>{%endif%}
                            </label>
                            <div class="ui input">
                                {{ field }}
                            </div>
                            {% for error in field.errors %}
                            <span class="ui red text">{{error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="field ">
                            <label>{{ field.label }}
                                {% if field.flags.required %}<span class="ui red text">*</span>{%endif%}
                            </label>
                            <div class="ui input">
                                {{ field }}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                        <div style="padding-top: 1rem; padding-bottom: 1rem;">
                            <button class="ui teal button" type="submit">
                                Confirm
                            </button>
                            <a href="{{ url_for('system_settings.index')}}">
                                <div class="ui deny button">
                                    Cancel
                                </div>
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block additional_js %}
<script>

</script>
{% endblock additional_js %}