{% extends '/base/default_page.html' %}


{% block title %}
System Setting
{% endblock title %}

{% block content %}
<div class="ui centered grid">
  <div class="fourteen wide tablet ten wide computer column">
    <div class="ui segment">
      <div class="ui middle aligned aligned grid">
        <div class="column">
          <h2 class="ui dividing header">
            System Setting
          </h2>
          <form method="POST">
            {{ form.csrf_token }}
            <div class="content" style="padding-left: 1rem; padding-right: 1rem;padding-top: 1rem;">
              <div class="ui form">
                <div class="ui secondary segment">
                  <h3 class="ui header">
                    Map Setting
                  </h3>
                  <div class="fields">
                    <div class="five wide field">
                      {{ form.center.label }}
                      {{ form.center }}
                    </div>
                  </div>
                  <div class="fields">
                    <div class="five wide field">
                      {{ form.zoom.label }}
                      {{ form.zoom }}
                    </div>
                    <div class="five wide field">
                      {{ form.min_zoom.label }}
                      {{ form.min_zoom }}
                    </div>
                  </div>
                </div>
                <div class="ui secondary segment">
                  <h3 class="ui header">
                    Interpolations summary setting
                  </h3>
                  <div class="fields">
                    <div class="five wide field">
                      {{ form.interpolation_coordinate_1.label }}
                      {{ form.interpolation_coordinate_1 }}
                    </div>
                    <div class="five wide field">
                      {{ form.interpolation_coordinate_2.label }}
                      {{ form.interpolation_coordinate_2 }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="actions" style="padding-top: 1rem; padding-bottom: 1rem;">
              <button class="ui right labeled icon teal submit button" type="submit">
                Confirm
                <i class="checkmark icon"></i>
              </button>
              <a href="{{ url_for('sites.index')}}">
                <div class="ui deny button">
                  Cancel
                </div>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% if system_setting %}
    <div class="ui segment">
      <h2 class="ui dividing header">
        API Setting
      </h2>
      <a class="green ui fluid button" href="{{ url_for('system_settings.add_api_token')}}">
        <i class="plus icon"></i>API
      </a>
      <div style="max-height: 400px; overflow-y: auto; margin-top: 1rem;">
        <table class="ui celled striped table">
          <thead>
            <tr>
              <th>API URL</th>
              <th>Access token</th>
              <th>Access token expires date</th>
              <th>Refresh token</th>
              <th>Refresh token expires date</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody>
            {% for key in system_setting.api_tokens%}
            <tr>
              <td>{{key.source}}</td>
              <td class="fcenter aligned two wide">
                <a id="access-token-modal-{{key.id}}" href="#">
                  Access Token
                </a>
              </td>
              <td class="four wide">
                {% if not key.access_token_expires %}
                -
                {% else %}
                {{ key.access_token_expires }}
                {% endif %}
              </td>
              <td class="fcenter aligned two wide">
                <a id="refresh-token-modal-{{key.id}}" href="#">
                  Refresh Token
                </a>
              </td>
              <td class="four wide">
                {% if not key.refresh_token_expires %}
                -
                {% else %}
                {{ key.refresh_token_expires }}
                {% endif %}
              </td>
              <td class="center aligned two wide">
                <a href="{{ url_for('system_settings.edit_api_token', api_token_id=key.id)}}">
                  Edit
                </a>
                /
                <a id="delete-modal-{{key.id}}" href="#">
                  Delete
                </a>
              </td>
            </tr>
            <div class="ui tiny modal" id="delete-{{key.id}}">
              <i class="close icon"></i>
              <div class="header">
                Delete API
              </div>
              <div class="content">
                <div class="description">
                  Do you want to remove<b> API: {{key.source}} </b>from the system?
                </div>
              </div>
              <div class="actions">
                <div class="ui red cancel  button"><i class="remove icon"></i>No</div>
                <a class="ui green ok button"
                  href="{{url_for('system_settings.remove_api_token', api_token_id=key.id)}}">
                  <i class="checkmark icon"></i>Yes</a>
              </div>
            </div>
            <!-- access token modal -->
            <div class="ui normal modal" id="access-token-{{key.id}}">
              <div class="header">
                Access Token: {{ key.source }}
              </div>
              <div class="content" style="overflow-wrap: break-word">
                <div class="description">
                  {% if not key.access_token %}
                  <b class="ui warning text">No data available.</b>
                  {% else %}
                  <b>{{key.access_token}}</b>
                  {% endif %}
                </div>
              </div>
              <div class="actions">
                <div class="ui green deny button">Close</div>
              </div>
            </div>
            <!-- refresh token modal -->
            <div class="ui normal modal" id="refresh-token-{{key.id}}">
              <div class="header">
                Refresh Token: {{ key.source }}
              </div>
              <div class="content" style="overflow-wrap: break-word">
                <div class="description">
                  {% if not key.refresh_token %}
                  <b><span class="ui error text">No data available.</span></b>
                  {% else %}
                  <b>{{key.refresh_token}}</b>
                  {% endif %}
                </div>
              </div>
              <div class="actions">
                <div class="ui green deny button">Close</div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block additional_js %}
<script>
  $('#users-select')
    .dropdown()
    ;
  {% for key in system_setting.api_tokens %}
  $('#delete-modal-{{key.id}}').click(function () {
    $('#delete-{{key.id}}').modal('show');
  });

  $('#access-token-modal-{{key.id}}').click(function () {
    $('#access-token-{{key.id}}').modal('show');
  });

  $('#refresh-token-modal-{{key.id}}').click(function () {
    $('#refresh-token-{{key.id}}').modal('show');
  });
  {% endfor %}

</script>
{% endblock additional_js %}